#navbar {
    border: 1px solid lightgray;
}

#nameplate {
    background: teal;
    color: white;
    margin-left: 25%;
    margin-right: 17%;
    padding: 10px;
    font-size: 200%;
}

#bodyheader {
    border-bottom: 1px solid lightgray;
    color: teal;
}

#padding {
    margin-top: 2%;
    margin-bottom: 2%;
}

#inputs {
    margin-top: 5%;
    margin-left: 10px;
    margin-right: 5%;
}

#button {
    margin-bottom: 3%;
}