add a background picture on the page

#navbar {
    border: 1px solid lightgray;
}

#nameplate {
    background: teal;
    color: white;
    margin-left: 25%;
    margin-right: 17%;
    padding: 10px;
    font-size: 200%;
}

#bodyheader {
    border-bottom: 1px solid lightgray;
    color: teal;
}

#padding {
    margin-top: 2%;
    margin-bottom: 2%;
}

#topOne {
    margin-top: 20px;
}
.alert {
    background: teal;
    opacity: .8;
    color: white;
    margin-left: 3%;
}