#navbar {
    border: 1px solid lightgray;
}

#nameplate {
    background: teal;
    color: white;
    margin-left: 25%;
    margin-right: 17%;
    padding: 10px;
    font-size: 200%;
}

#bodyheader {
    border-bottom: 1px solid lightgray;
    color: teal;
}

.card-img {
    padding: 5px;
    padding-bottom: 10px;
}

.card-img-overlay {
    color: white;
    margin-top: 60%;
    margin-left: 5px;
}

#padding {
    margin-top: 2%;
    margin-bottom: 2%;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}